@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffaf6;
  font-family: "Fira Sans", sans-serif;
}

// NAVBAR , HEADER , ABOUT ME
ul.navbarlist {
  list-style: none;
}
li.listItem {
  color: #383833;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem;
  transition: 0.3s;
  &:hover {
    background-color: #383833;
    color: #fdb51e;
  }
}

.content {
  color: #fdb51e;
  transition: 1s;

  &.changeColor {
    color: #28b1d0;
    background-color: #fcf9f2;
  }
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  padding: 15px 10px;
  transition: all ease-in-out;
}
h1.reduce {
  font-size: 2rem;
  padding: 20px;
}

#sideBar {
  position: fixed;
  width: 12.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  left: -300px;
  transition: 0.5s ease-out;
  z-index: 2;
}
.toggleBtn {
  position: absolute;
  top: 2rem;
  left: 320px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: all 0.5s 0.3s;

  &:hover {
    transform: rotate(1080deg);
  }
  span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background-color: #fdb51e;
    display: block;
    margin-top: 4px;
    transition: 0.8s ease;
  }
}
a {
  text-decoration: none;
  color: #28b1d0;
}

#sideBar.active {
  left: 0px;
  background-color: #fbfbfb;
  .toggleBtn {
    top: 2rem;
    left: 235px;
  }
}

#sideBar.active span {
  position: absolute;
  &:nth-child(1) {
    transform: rotate(45deg);
    background-color: #28b1d0;
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #28b1d0;
  }
}

#sideBar.active ~ .content {
  opacity: 0.3;
}

h2#about,
h2#skill-title,
h2#work-title,
h2#contact-title {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  &::before {
    content: "-";
  }
  &::after {
    content: "-";
  }
}

.bgimg {
  background: no-repeat url(../medias/code2.jpg);
}
.aboutimg {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  .round-img {
    border-radius: 50%;
    transition: ease-in-out 0.8s;
  }
  .filter {
    filter: sepia(50%);
  }
}
h2#job-description {
  text-align: center;
  padding: 2rem;
}
.aboutme {
  padding: 2rem 5rem;
  color: #383833;
  a {
    color: #fdb51e;
  }
}
.content-box {
  color: #383833;
}
.textChange {
  padding: 2rem 15rem;
  transition: ease 0.8s;
}

// SKILL PART
#skills {
  padding: 2rem 5rem;
}
.grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}
.IconFsize {
  font-size: 10rem;
  transition: ease 0.8s;
}
.fa-html5:hover {
  color: #ff8333;
  transform: scale(1.1);
}
.fa-css3-alt:hover {
  color: #1083dc;
  transform: scale(1.1);
}
.fa-sass:hover {
  color: #cb71ca;
  transform: scale(1.1);
}
.fa-js-square:hover {
  color: #f7e140;
  transform: scale(1.1);
}
.fa-php:hover {
  color: #9986bc;
  transform: scale(1.1);
}
// onscroll Animation
.reveal-down {
  opacity: 0;
  transform: translateY(-50px);
}
.reveal-up {
  opacity: 0;
  transform: translateY(50px);
}
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.2s cubic-bezier(0.5, 0, 0, 1);
}
// works

//contact
.contact-box {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 25px;
  color: #383833;
  .github-box {
    place-self: end;
    a:hover {
      transition: ease 0.8s;
      color: #fdb51e;
    }
  }
  .linkedin-box {
    a:hover {
      transition: ease 0.8s;
      color: #1083dc;
    }
  }
  a {
    color: #383833;
  }
  i {
    font-size: 5rem;
  }
}

// responsive

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 450px;

// Small tablets (portrait view)
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@include sm {
  h1 {
    font-size: 2rem;
    padding: 2rem;
  }
  #sideBar {
    position: fixed;
  }
  #sideBar.active {
    width: 23.5rem;
    height: 54%;
    position: fixed;
  }
  #sideBar.active .toggleBtn {
    top: 2rem;
    left: 300px;
  }
  .textChange {
    padding: 2rem 5rem;
  }
  // SKILL PART
  #skills {
    padding: 0;
  }
  .grid-div {
    display: grid;
    padding: 5rem;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    text-align: center;
  }
}
