@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #383838;
  font-family: "Fira Sans", sans-serif;
}

ul.navbarlist {
  list-style: none;
}

li.listItem {
  color: #383833;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li.listItem:hover {
  background-color: #383833;
  color: #34dc71;
}

.content {
  color: #34dc71;
  -webkit-transition: 1s;
  transition: 1s;
  height: 100vh;
}

.content.changeColor {
  color: #28b1d0;
  background-color: #5e686b;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 10px;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

h1.reduce {
  font-size: 2rem;
  padding: 20px;
}

#sideBar {
  position: absolute;
  width: 12.5rem;
  height: 100%;
  background: #34dc71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -300px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  z-index: 2;
}

.toggleBtn {
  position: absolute;
  top: 2rem;
  left: 320px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  -webkit-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s;
}

.toggleBtn:hover {
  -webkit-transform: rotate(1080deg);
          transform: rotate(1080deg);
}

.toggleBtn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-color: #34dc71;
  display: block;
  margin-top: 4px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

a {
  text-decoration: none;
  color: #28b1d0;
}

#sideBar.active {
  left: 0px;
  background-color: #fbfbfb;
}

#sideBar.active .toggleBtn {
  top: 2rem;
  left: 235px;
}

#sideBar.active span {
  position: absolute;
}

#sideBar.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #28b1d0;
}

#sideBar.active span:nth-child(2) {
  opacity: 0;
}

#sideBar.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #28b1d0;
}

#sideBar.active ~ .content {
  opacity: 0.3;
}

h2#about,
h2#skill-title {
  font-size: 2rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2#about::before,
h2#skill-title::before {
  content: "-";
}

h2#about::after,
h2#skill-title::after {
  content: "-";
}

.bgimg {
  background: no-repeat url(../medias/code2.jpg);
}

.aboutimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
}

.aboutimg .round-img {
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.8s;
  transition: ease-in-out 0.8s;
}

.aboutimg .filter {
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

h2#job-description {
  text-align: center;
  padding: 2rem;
}

.aboutme {
  padding: 2rem 5rem;
}

.textChange {
  padding: 2rem 15rem;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

.grid-div {
  padding: 0rem 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}

.IconFsize {
  font-size: 10rem;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

.fa-html5:hover {
  color: #ff8333;
}

.fa-css3-alt:hover {
  color: #1083dc;
}

.fa-sass:hover {
  color: #cb71ca;
}

.fa-js-square:hover {
  color: #f7e140;
}

.fa-php:hover {
  color: #9986bc;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2rem;
    padding: 2rem;
  }
  #sideBar {
    position: fixed;
  }
  #sideBar.active {
    width: 23.5rem;
    height: 54%;
    position: fixed;
  }
  #sideBar.active .toggleBtn {
    top: 2rem;
    left: 300px;
  }
  .textChange {
    padding: 2rem 5rem;
  }
  .grid-div {
    display: -ms-grid;
    display: grid;
    padding: 5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */